#
# Immersion TouchSense Player driver configuration
#
menuconfig VIBETONZ
        tristate "Vibetonz"
        default n
        help
          Say Y to enable Vibetonz support.

config TGS3_VIB_CTRL
	bool "Enable TweakGS3 vib control"
	default y
	help
	 This option enables TweakGS3 vib control.
